@model IndexModel
@foreach (ItemModel item in Model.List.Items)
{
    string inputId = $"check{item.Name}";
    string formId = $"toggleForm{item.Name}";
    <div class="checkbox-container">
        <div class="form-check" data-upper-name="@item.Name.ToUpperInvariant()">
            <input class="form-check-input" type="checkbox" value="@item.Name" id="@inputId" checked=@item.IsOn
               data-form="@formId">
            <label class="form-check-label" for="@inputId">
                @item.Name
            </label>

            <form id="@formId" class="d-none" method="post" asp-page-handler="ToggleItem">
                <input name="listName" value="@Model.List.Name" />
                <input name="itemName" value="@item.Name" />
            </form>
        </div>
    </div>
}
