@page
@model IndexModel
@{
    ViewData[nameof(BasePageModel.Title)] = Model.List.Name;
}

<h2>@Model.List.Name</h2>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary content-loader"
            data-bs-toggle="modal"
            data-bs-target="#@RegisterProductModel.DefaultModalId"
            data-load-url="@Url.Action(nameof(ShopsController.ProductOptions), ShopsController.ControllerName, new { shopName = Model.List.ShopName })"
            data-load-target="#@RegisterProductModel.DefaultModalId .product-options">
        <i class="fa-solid fa-plus"></i> Register Product
    </button>
</div>

<div class="list-index-container">
    <div class="rounded p-3 mt-1 list-item-viewer">
        <p class="fw-bold">Items:</p>

        <div class="reloadable" data-reload-url="/Lists/Index?listName=@Model.List.Name&handler=TryIt">
            <partial name="_Items" />
        </div>
    </div>

    <div class="mt-3 rounded p-3 list-product-viewer">
        <p><span class="fw-bold">Search</span> for products to add to the list</p>
        <div class="input-group mb-3">
            <input class="form-control" type="text" />
        </div>

        <p>Or, <span class="fw-bold">select</span> products to add to the list</p>
        @foreach (var item in Model.List.Items)
        {
            string inputId = $"check{item.Name}";
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@item.Name" id="@inputId"
                   disabled=@item.IsOn checked=@item.IsOn>
                <label class="form-check-label" for="@inputId">
                    @item.Name
                </label>
            </div>
        }
    </div>
</div>

@* Register item modal *@
<partial name="_RegisterProductModal" model="new RegisterProductModel { ShopName = Model.List.ShopName }" />
